html {
	display: block;
	@include share(width, height, 100%);
	overflow: auto;
}

html,
body {
	height: 100%;
	@include open-sans;
}

body {
	position: fixed;
	overflow: visible; // (1)
	@include share(width, max-width, height, max-height, 100%);
	@include share(margin, padding, 0);
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-user-drag: none;
	-ms-content-zooming: none;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	word-wrap: break-word;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: $font-size;
	line-height: 1.5;
	background-color: $color-background;

	@include media('<=phablet') {
		font-size: 0.8rem;
	}
}

.app {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@include flex(flex, center, center);
	flex-direction: column;
	height: 100%;
	text-align: center;
	color: $color-primary;

	&__logo {
		max-width: 300px;
		margin-bottom: $gutter;
	}
}

.face-wrapper {
	position: relative;
	border: 2px solid red;
	@include share(width, height, 100%);

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
		width: 100%;
		height: 100%;
		background: url('../../../static/background.jpg') no-repeat;
		background-size: cover;
		background-position-x: -21px;
		opacity: 0.1;
	}
}

.swiper-slide,
.swiper-container-cube .swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh / 6) !important;
}

.swiper-container-cube {
	perspective: none !important;
}

.swiper-vertical {
	position: absolute !important;
	top: 20vh;
	left: 50%;
	z-index: 1;
	width: 28vw;
	height: 23vh;
	transform: translate3D(-50%, 50%, 0);
}

.block {
	height: calc(100vh / 6);
}

.swiper-container.pieces-swiper {
	@include absolute(bottom left);
	width: 100%;
	outline: 1px solid blue;
}

.face {
	position: relative;
	width: 100%;
	height: 100%;
}

.item {
	position: absolute;
	display: inline-block;
	border: 1px solid red;

	&:hover {
		cursor: pointer;
		box-shadow: 0rem 0.5rem 0.5rem rgb(177, 177, 177);
	}

	&.hat {
		top: 2rem;
		right: 2rem;
		width: 7rem;
		height: 3rem;
		transform: rotate(20deg);
		border-radius: 5rem 5rem 0 0;
	}

	&.hair {
		top: 3rem;
		left: 7.5%;
		width: 85%;
		height: 6rem;
		border-radius: 8rem 8rem 0 0;
	}

	&.eye {
		top: 37%;
		padding: 2rem;
		border-radius: 50%;

		&.--left {
			left: 13%;
		}

		&.--right {
			right: 13%;
		}
	}

	&.eyebrown {
		top: 30%;
		width: 5rem;
		height: 1.5rem;
		border-radius: 50% 50% 0 0;

		&.--left {
			left: 13%;
		}

		&.--right {
			right: 13%;
		}
	}

	&.ear {
		top: 47%;
		width: 2rem;
		height: 5rem;

		&.--left {
			left: 0;
			border-radius: 2rem 0 0 5rem;
		}

		&.--right {
			right: 0;
			border-radius: 0 2rem 5rem 0;
		}
	}

	&.nose {
		top: 40%;
		left: 50%;
		width: 4rem;
		height: 8rem;
		transform: translateX(-50%);
		border-radius: 0.5rem 0.5rem 2rem 2rem;
	}

	&.mouth {
		top: 65%;
		left: 50%;
		padding: 2rem 4rem;
		border-radius: 6rem 6rem 1rem 1rem;
		transform: translateX(-50%);
	}

	&.front,
	&.middle,
	&.back {
		left: 7.5%;
		width: 85%;
	}

	&.front {
		top: 4rem;
		height: 26%;
		border-radius: 8rem 8rem 0 0;
	}

	&.middle {
		top: 36%;	
		height: 26%;
	}

	&.back {
		top: 62.5%;
		height: 7rem;
		border-radius: 0 0 8rem 8rem;
	}
}

.atrezzo {
	position: absolute;
	border: 1px solid grey;

	&.neck {
		bottom: 4.5rem;
		left: 50%;
		width: 6rem;
		height: 4rem;
		transform: translateX(-50%);
		border-radius: 0 0 8rem 8rem;
	}

	&.body {
		bottom: 0;
		width: 96%;
		height: 8rem;
		border-radius: 9rem 9rem 0 0;
	}
}

.bg-template {
	background-color: #e3e3e3;
}